{% extends "base.html" %} {% block content %}

<div class="container mt-3">
    <canvas id="forecast" style="width: 100%; max-width: 700px; height:70%;"></canvas>
    <h3>Predicted profit or loss: {{profitLoss}}</h3>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>


const expense_d = {{ expense_dict|tojson }}
const income_d = {{ income_dict|tojson }}


</script>
<script src="{{ url_for('static', filename='js/forecastChart.js') }}"></script>
{% endblock %}
