{% extends "base.html" %} {% block content %}
<div class="button-container" style="padding-top: 20px;">
  <button id="expenses" class="btn btn-primary" style="background-color: #74548C; border-color: #74548C;">Expenses</button>
  <button id="income" class="btn btn-primary" style="background-color: #74548C; border-color: #74548C;">Income</button>
</div>
<div class="container mt-3 month" id="Charts">
    <div class="left">
      <label for="month">Select month:</label>
      <input type="month" id="month" name="month" />
      <button id="btn-month">View</button>
      <canvas id="myChart" style="width: 100%; max-width: 700px; height:70%;"></canvas>
    </div>
    <div class="middle">
      <label for="week">Select week:</label>
      <input type="week" id="week" name="week" />
      <button id="btn-week">View</button>
      <canvas id="myChartWeek" style="width: 100%; max-width: 700px;height:70%;"></canvas>
    </div>
    <div class="right">
      <label for="day">Select day:</label>
      <input type="date" id="day" name="day" />
      <button id="btn-day">View</button>
      <canvas id="myChartDay" style="width: 100%; max-width: 700px;height:70%;"></canvas>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  const account_data = {{ account|tojson }};
</script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}
