<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/homestyles.css')}}" />
    <title>Spondulix</title>
</head>
<body>
    <!-- <nav> 
        <a href="homepage.html"><img class = "logo" src="images/logobitter.png" alt="Spondulix Logo"></a>
        <ul class="nav__links">
            <li><a href="#">Services</li>
            <li><a href="#">About</li>
            <li><a href="#">Projects</li>
        </ul>
        <a class="cta" href="#"><button>Contact</button></a>
    </nav> -->
    
    <section>
        <a href="{{url_for('main.home')}}"><img class = "logo" src='{{url_for("static",filename="/images/logoblank.png")}} 'alt="Spondulix Logo"></a>
        <div class="container">
            <form action="{{url_for('main.signup')}}" method="post">
                <h1>Welcome to Spondulix</h1>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" id="'name" required>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" id="password"required>
                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm-password" id="confirmPassword" required>
                </div>
                <input type="button" id='submitBtn' class="btn" value="Submit">
                <p>Already have an account? <a href="{{url_for('main.login')}}">Log In</a></p>
            </form>
        </div>
    </section>
</body>
<script>
    const submitBtn=document.getElementById('submitBtn')
    const email= document.getElementById('email')
    const password= document.getElementById('password')
    const confirmPass= document.getElementById('confirmPassword')
    submitBtn.addEventListener('click',()=>{
        console.log(password.value,confirmPass.value)
        if (password.value===confirmPass.value){
            if(email.value.includes('@')){
                document.querySelector('form').submit();
            }
            else{
                alert('Invalid email format');
                window.location.reload()
            }
        }
        else{
            alert('Re-entered password does not match the password');
            window.location.reload()
        }
    })
</script>
</html>