body {
    background-image: url("../images/background2.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeebd0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Add {
    background-color: #ebb3a9;
    padding: 20px;
    border-radius: 20px;
  }
  .Add h1 {
    color: #74548c;
  }
  .Add button {
    background-color: #74548c;
  }
  .form-groups {
    padding: 5px;
  }