body {
    background-image: url("../images/background2.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeebd0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Add {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .Add h1 {
    color: black;
  }
  #Addbtn {
    background-color: #74548c;
    color: white;
  }
  .form-groups {
    padding: 5px;
  }