header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

header img {
  max-width: 100%;
  height: auto;
}

.aside_button {
  font-size: 15px;
}

.main_h2 {
  font-size: 30px;
  padding-left: 30px;
  color: white;
}

.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.active{
  background-color: #EBB3A9 !important;
}

button img {
  height: 350px;
  margin-right: 10px;
}

body {
  height: 100vh;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  font-family: sans-serif;
  margin: 0; 
}

* {
  margin: 0;
  padding: 0;
}

aside {
  float: left;
  position: fixed;
  width: 15%;
  background: linear-gradient(135deg, rgba(153, 175, 221, 0.5), rgba(223, 177, 205, 0.6));
  padding: 20px;
  height: 100vh;
  
}

main{
  position:absolute;
  left:28%;
  width:60%;
}

.main_h1 {
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.main_div {
  display: flex;
  align-items: center;
}

.div_button {
  margin: 10px;
  font-size: 13.5px;
  padding: 12px 5px;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row-reverse;
}

.div_button img {
  height: 35px;
  margin-left: 10px;
}

.aside_logo {
  width: 100%;
  height: auto;
}

.logo_main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#total_amount {
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
}

#transaction {
  font-size: 24px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(153, 175, 221, 0.8), rgba(223, 177, 205, 0.6));
  text-align: left;
  padding:10px;
  margin-bottom: 20px;
}

.box h2 {
  margin-top: 0;
}

.total-amount {
  font-size: 24px;
  font-weight: bold;
}

.transaction{
  font-size: 20px;
  color: black;

}


.transaction .place {
  font-weight: bold;
  
}

.transaction .amount {
  color: black;
}
