@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    background-color: #E86252;
}

li, a, button {
    font-family: "Montserrat", sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    color: #edf0f1; 
    text-decoration: none; 
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 10%; 
}

.logo {
    cursor: pointer; 
}

.nav__links {
    list-style-type: none; 
    list-style: none; 
}

.nav__links li {
    display: inline-block; 
    padding: 0px 20px; 
}

.nav__links li a {
    transition: all 0.3s ease 0s; 
}

.nav__links li a:hover {
    color: #EBB3A9;
}

button {
    padding: 9px 25px; 
    background-color: #EBB3A9;
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: all 0.3s ease 0s;  
}

button:hover {
    background-color: #e7c0b9
} */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body{
    background-image: url("../images/background2.jpg");
    background-color: #74548C;
    font-family: "Montserrat", sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    overflow: hidden;

    min-height: 100vh; 
    /*background: #eee; */
    /* display: flex; */
    /* display: flex; 
    justify-content: space-between; 
    flex-direction: column; 
    align-items: center;  */
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(135deg, rgba(243, 203, 234, 0.3), rgba(209, 10, 133, 0.3));
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3)
}

.container form h1{
    text-align: center;
    margin-bottom: 24px;
    color: white;
}

.container form .form-control{
    width: 100%;
    height: 40px; 
    background: white; 
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: purple;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}

.container form .btn:hover{
    opacity: .7;
}

.container form label {
    color: white;
}

.container form p {
    color: white;
}

.container form a { 
    color: lightblue;
}



section{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    color: white;  
}

.button{
    background-color: purple; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    opacity: .7;
}

.form-box{
    position: relative; 
    width: 400px; 
    height: 450px; 
    /* background: #E86252;  */
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 

}

.logIn {
    width: 100%; 
    height: 40px; 
    border-radius: 40px;
    background: purple; 
    color: white; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    font-size: 1em; 
    font-weight: 600; 
}


